@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.9b399963.eot?qhridb');
  src:  url('icomoon.aef0570a.ttf?qhridb') format('truetype'),
    url('icomoon.54e86cb4.woff?qhridb') format('woff'),
    url('icomoon.5ecde0f3.svg?qhridb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e925";
}
.icon-smartphone:before {
  content: "\e9bc";
}
.icon-printer:before {
  content: "\e9a4";
}
.icon-users:before {
  content: "\e9de";
}
.icon-info:before {
  content: "\e96b";
}
.icon-settings:before {
  content: "\e9b0";
}
.icon-minus-circle:before {
  content: "\e985";
}
.icon-disconnect:before {
  content: "\e986";
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

button,
input {
  border: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none; }

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

body {
  font-family: Helvetica Neue, Helvetica, 'Open Sans', Arial, sans-serif; }

.main-title {
  font-size: 45px;
  margin-bottom: 30px;
  color: #414141; }

p {
  font-size: 18px;
  line-height: 1.6;
  color: #414141; }

.btn {
  height: 40px;
  padding: 5px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  background: #CA0019;
  transition: transform 0.25s ease-in-out, background 0.5s ease-in-out; }

.btn:hover {
  background: #b30000;
  transform: translate3d(0, -1px, 0); }

.btn:active {
  background: #990000;
  transform: translate3d(0, 3px, 0); }

.btn.disabled {
  background: #9f6060;
  transform: translate3d(0, 3px, 0); }

.btn-alt {
  height: 65px;
  padding: 5px 0;
  color: #CA0019;
  border: 1px solid #CA0019;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 20px; }

.btn-alt .click-cost {
  font-weight: 300;
  font-style: italic; }

.cancel-btn {
  margin-top: 50px; }

.back-to-app {
  width: 160px;
  height: 30px;
  font-size: 14px; }

.back-to-app-text {
  position: relative;
  padding-left: 22px; }

.back-to-app-text::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("arrow-light.570892b7.svg") center no-repeat;
  background-size: contain; }

.header-btn {
  width: 90px;
  height: 30px;
  font-size: 14px;
  margin-left: 20px; }

.main-screen-btn {
  width: 320px;
  height: 110px;
  margin-top: 10px;
  padding: 0px 65px;
  border-radius: 5px;
  font-size: 34px; }

.secondary-btn {
  display: block;
  background: transparent;
  margin: 40px auto 10px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ca0019; }

.input {
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 18px;
  background: #EFEFEF;
  border: 2px solid #E0E0E0; }
  .input::-webkit-input-placeholder {
    font-size: 18px; }
  .input:-ms-input-placeholder {
    font-size: 18px; }
  .input::-moz-placeholder {
    font-size: 18px; }
  .input:-moz-placeholder {
    font-size: 18px; }

.textarea {
  max-width: 480px;
  height: 100px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  line-height: 1.4;
  background: #EFEFEF;
  border: 2px solid #E0E0E0;
  resize: none; }
  .textarea::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic; }
  .textarea:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic; }
  .textarea::-moz-placeholder {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic; }
  .textarea:-moz-placeholder {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic; }

.circle-loader {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border: 6px solid #3B7FFF;
  border-left-color: #ffffff;
  animation: loader-spin 1s infinite linear;
  border-radius: 50%; }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.accordion-content {
  display: none; }

.accordion-btn.expanded + .accordion-content {
  display: block;
  padding: 35px 0 0 71px; }

.accordion-btn-ico {
  margin-right: 32px;
  font-size: 40px;
  color: #CA001A; }

.accordion-btn.expanded .accordion-btn-ico {
  color: #414141; }

.accordion-btn {
  display: flex;
  align-items: center; }

.accordion-title {
  margin-bottom: 5px;
  text-align: left;
  font-size: 20px;
  color: #CA0019; }

.accordion-btn.expanded .accordion-title {
  color: #414141; }

.user-avatar {
  width: 65px;
  height: 65px;
  margin-right: 15px; }

.user-id {
  font-size: 22px;
  font-weight: 700; }

.wallet-address {
  font-size: 14px;
  color: #979797; }

.user-avatar-header {
  width: 40px;
  height: 40px; }

.user-id-header {
  font-size: 16px; }

.wallet-address-header {
  font-size: 12px; }

.identicon {
  margin-right: 10px;
  border-radius: 20%; }

.request-notification {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: #ca0019;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  font-family: sans-serif; }

.request-notification:hover {
  background: #b30000; }

.dropdown {
  position: relative; }

.dropdown-btn {
  position: relative;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #ca0019; }

.dropdown-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background: url("triangle.6536191e.svg") center no-repeat;
  background-size: contain; }

.dropdown-content {
  position: absolute;
  top: -6px;
  left: -8px;
  width: 250px;
  background: #EFEFEF;
  border-radius: 3px; }

.dropdown-content-item {
  font-size: 24px;
  font-weight: 700;
  color: #ca0019;
  cursor: pointer;
  padding: 10px; }

.dropdown-content-item:hover {
  background: #e2e2e2; }

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000; }

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 445px;
  background: #ffffff;
  border-radius: 5px; }

.modal-content {
  padding: 20px; }

.modal-text {
  font-size: 14px; }

.modal-btn {
  color: #3073FF;
  font-size: 14px; }

.modal-btn + .modal-btn {
  margin-left: 30px; }

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px 25px;
  border-top: 1px solid #E6E6E6; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 545px;
  margin: 0 auto;
  padding: 0 30px; }

.row {
  display: flex; }

.align-items-center {
  align-items: center; }

.separator {
  height: 4px;
  margin: 35px 0;
  border: none;
  background: #EFEFEF;
  border-radius: 3px; }

.separator-s {
  height: 0;
  margin: 30px 0;
  border: dashed 2px #EFEFEF;
  overflow: visible; }

.separator-s::before {
  content: '\2702';
  display: block;
  height: 20px;
  width: 20px;
  position: relative;
  top: -15px;
  font-size: 28px;
  color: #cecece;
  left: 40px; }

.information-ico {
  font-size: 25px;
  margin-left: 35px;
  color: #CA001A; }

.text-center {
  text-align: center; }

.fullwidth {
  width: 100%; }

.bold {
  font-weight: 700; }

.header {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  margin-bottom: 100px;
  background: #F8F8F8;
  border-bottom: 1px solid #eeeeee; }

.row {
  flex: 1;
  overflow: hidden; }

button {
  flex: 0 0 auto; }

.login-view {
  padding: 200px 0 80px; }
  @media (max-width: 1600px) {
    .login-view {
      padding: 100px 0 80px; } }

.login-view-text {
  margin-bottom: 30px; }

.hidden {
  display: none !important; }

h2 {
  width: 100%;
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #333; }

.login-method.active {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  color: #000000; }

.login-method.active::after {
  content: '\e925';
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  font-family: 'icomoon' !important;
  line-height: 1; }

.id-selector {
  display: flex;
  align-items: center;
  margin: 25px 0 5px; }

.id-selector .dropdown {
  margin-left: 13px; }

.loginHover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 2px;
  overflow: hidden; }

.loginHover li {
  height: 48px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center; }

.loginHover li:hover, .loginHover:not(:hover) li.active {
  background: #FFE9EB; }

.loginHover .identity {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  padding-top: 11px; }

.loginHover button {
  color: #D0021B;
  font-size: 20px;
  font-weight: 600; }

.failure-view {
  padding: 200px 0 100px; }
  @media (max-width: 1600px) {
    .failure-view {
      padding: 80px 0 100px; } }

.back-btn {
  margin-top: 50px; }

.greeting-view {
  padding: 200px 0 100px; }
  @media (max-width: 1600px) {
    .greeting-view {
      padding: 80px 0 100px; } }

.bonus-ico {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-right: 20px;
  font-size: 40px;
  color: #CA001A; }

.checkmark-ico {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  overflow: hidden;
  font-size: 50px;
  font-weight: 700; }

.start-btn {
  margin-top: 50px; }

.account {
  padding-bottom: 100px; }

.device {
  position: relative; }

.device-btn {
  position: absolute;
  top: 50%;
  left: -67px;
  transform: translateY(-50%);
  font-size: 35px;
  color: #CA001A; }

.device + .device {
  margin-top: 30px; }

.device-name {
  font-weight: 700; }

.device-status {
  font-style: italic;
  font-size: 17px; }

.advice-text {
  margin-bottom: 25px; }

.setting {
  margin-bottom: 25px; }

.setting-dropdown-btn {
  font-size: 18px;
  margin-top: 5px; }

.click-cost {
  margin-top: 5px;
  font-size: 14px;
  text-align: center; }

.main-screen {
  padding-bottom: 100px; }

.last-click-text {
  max-width: 320px;
  height: 120px;
  margin: 40px auto 0; }

.click-history-item {
  max-width: 320px;
  margin: 0 auto;
  text-align: left; }

.click-history-item + .click-history-item {
  margin-top: 40px; }

.click-history {
  margin-top: 50px; }

.click-history-item .date {
  font-style: italic;
  font-weight: 100;
  opacity: 0.75;
  font-size: 80%; }

.user-inline {
  position: relative;
  display: block;
  height: 32px;
  width: 100%;
  padding: 0 0 0 40px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  line-height: 32px; }

.user-inline .identicon {
  position: absolute;
  left: 0; }

.pending-authorizations {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px; }

.pending-authorizations .container {
  max-width: 480px;
  margin: 0;
  padding: 0; }

.pending-authorizations-text {
  padding: 50px 0;
  border-top: solid 2px #eee; }

.subview {
  padding: 100px 0; }

.backup-text {
  margin: 15px 0; }

.backup-code {
  font-size: 22px; }

.generate-code-btn {
  margin: 10px 0 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ca0019; }

.generate-code-btn, .print-btn {
  display: inline-block;
  width: 50%; }

.accounts-list {
  margin: 50px 0 90px; }

.accounts-list-item {
  display: flex;
  align-items: center; }

.accounts-list-item + .accounts-list-item {
  margin-top: 35px; }

.accounts-list-item .dropdown-btn {
  font-size: 20px;
  margin-left: 13px; }

.cancel-invites-btn {
  margin-top: 45px;
  font-weight: 700;
  color: #CA0019;
  font-size: 22px;
  text-transform: uppercase; }

.example-text {
  margin-bottom: 35px; }

.example-textarea {
  margin-bottom: 35px; }

.post + .post {
  margin-top: 40px; }

.post-message {
  position: relative;
  padding: 18px 15px;
  font-weight: 700;
  border: 2px solid #E0E0E0;
  background: #ffffff; }

.post-message::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 0;
  transform: translateY(100%);
  height: 0;
  border-top: 20px solid #e0e0e0;
  border-left: 25px solid transparent; }

.post-message::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 0;
  transform: translateY(100%);
  height: 0;
  border-top: 16px solid #fff;
  border-left: 20px solid transparent; }

.post-author {
  padding-left: 45px;
  font-style: italic;
  font-size: 16px; }

@keyframes slide-from-top {
  from {
    height: 0;
    opacity: 0;
    margin-top: 0; }
  to {
    height: 120px;
    opacity: 1;
    margin-top: 50px; } }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-90px) scale(1.1);
    filter: blur(2px); }
  to {
    opacity: 1;
    transform: translateY(0) scale();
    filter: blur(); } }

@keyframes shake {
  0% {
    transform: translateX(-16px); }
  10% {
    transform: translateX(16px); }
  20% {
    transform: translateX(-8px); }
  30% {
    transform: translateX(8px); }
  40% {
    transform: translateX(-4px); }
  50% {
    transform: translateX(4px); }
  60% {
    transform: translateX(-2px); }
  70% {
    transform: translateX(2px); }
  80% {
    transform: translateX(-1px); }
  90% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

@keyframes reveal {
  0% {
    width: 0;
    margin-right: 60px;
    color: #CA001A; }
  66% {
    width: 50px;
    margin-right: 10px; }
  100% {
    color: #333; } }

.click-history-item:first-child {
  animation: slide-from-top 1s ease-in-out;
  overflow: hidden;
  height: 120px; }

.request-notification {
  animation: shake 2s ease-in-out; }

.greeting-view {
  animation: fade-in 0.5s ease-in-out; }

.greeting-view .checkmark-ico.animated {
  animation: reveal 1.5s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.5s; }

.greeting-view .checkmark-ico.order-2.animated {
  animation-delay: 0.5s; }

.greeting-view .checkmark-ico.order-3.animated {
  animation-delay: 0.5s; }

.header {
  animation: fade-in .25s ease-in-out; }

@media print {
  button, .btn, .secondary-btn, .click-cost {
    display: none; } }
